.customize-control-ast-radio-image label {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.customize-control-ast-radio-image input {
  display: none;
}

.customize-control-ast-radio-image input:checked + label svg {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 3px 0px rgba(0, 133, 186, 0.67);
}

.customize-control-ast-radio-image input + label .image-clickable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.customize-control-ast-radio-image .ast-radio-img-svg svg {
  width: 73px;
  height: 49px;
}

#customize-control-astra-settings-above-header-menu-align .ast-radio-img-svg svg,
#customize-control-astra-settings-header-main-menu-align .ast-radio-img-svg svg,
#customize-control-astra-settings-below-header-menu-align .ast-radio-img-svg svg {
  width: 37px;
  height: 49px;
}

#customize-control-astra-settings-footer-adv .image label {
  margin-bottom: 12px;
}
