.ast-typo-presets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ast-typo-presets .ast-typo-preset-item {
    padding: 0;
    border-radius: 2px;
    margin: 8.5px 0;
    cursor: pointer;
    background: #f0f0f1;
    border: 1px solid #a0a5aa;
    width: 28%;
    height: 54px;
    text-align: center;
}
.ast-typo-presets .ast-typo-preset-item:hover{
	border: 1px solid #3582c4;
}

.ast-typo-presets .ast-typo-preset-item svg {
    transform: scale(.3);
    height: 84px;
    width: 114px;
    padding: 0;
    margin-left: -22px;
    margin-top: -13px;
}
.ast-typo-presets .ast-typo-preset-item.active {
    border: 1px solid #3582c4;
    background: #fff;
}

.ast-typography-reset-btn {
	margin-top: 15px;
    padding: 0 20px;
	cursor: pointer;
	background: #2271b1;
    border-color: #2271b1;
    color: #fff;
	font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
}
