.ast-responsive-btns {
  display: inline-block;
  line-height: 1;
  vertical-align: sub;
}

.ast-responsive-btns > li {
  margin-bottom: 0;
  display: none;
}

.ast-responsive-btns > li.active {
  display: inline-block;
}

.ast-responsive-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-responsive-btns button[type="button"] > i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.ast-field-settings-modal .customize-control-ast-responsive .ast-responsive-btns {
  margin-top: 6px;
  position: absolute;
  right: 15px;
  top: 0px;
}

.customize-control-ast-responsive .input-wrapper {
  overflow: hidden;
}

.customize-control-ast-responsive .ast-responsive-btns {
    position: absolute;
    top: 2px;
    right: 0;
}

.customize-control-ast-responsive .input-wrapper input {
  display: none;
  width: 82%;
  float: none;
}

.customize-control-ast-responsive .input-wrapper input.active {
  display: block;
}

.customize-control-ast-responsive .input-wrapper .ast-responsive-select {
  width: 50px;
  margin: 0;
  margin-left: 2px;
  padding: 0 24px 0 8px;
  font-size: 13px;
  text-transform: uppercase;
  float: none;
  display: none;
}

.customize-control-ast-responsive .input-wrapper .ast-responsive-input.active + .ast-responsive-select {
  display: block;
  width: 25%;
  float: none;
}

.customize-control-ast-responsive .input-wrapper .ast-non-reponsive.ast-responsive-input {
  display: inline-block;
}

.customize-control-ast-responsive .input-wrapper .ast-non-reponsive.ast-responsive-input.active {
  display: inline-block;
}

.customize-control-ast-responsive .input-wrapper .ast-non-reponsive.ast-responsive-select {
  display: inline-block;
}

#customize-control-astra-settings-font-size-body.customize-control-ast-responsive .input-wrapper {
  display: inline-block;
}

#customize-control-astra-settings-font-size-body.customize-control-ast-responsive .input-wrapper .ast-responsive-select {
  display: none;
}

#customize-control-astra-settings-font-size-body.customize-control-ast-responsive .input-wrapper .ast-responsive-input {
  width: 100%;
}

.input-wrapper.ast-responsive-wrapper {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 0;
  align-items: flex-start;
  flex: 0 1;
  width: 100%;
}
.customize-control-ast-responsive .ast-responsive-btns {
  position: absolute;
  right: 0px;
  top: 1px;
}
